@using StripeDemo.Models;
@model ProductDetails

@inject IOptions<StripeOptions> StripeOptions;

@{
    ViewBag.Title = "Détails du Produit";
}

<section class="container mt-4">
    <div class="row">
        <!-- Colonne de Gauche : Image et Détails du Produit -->
        <article class="col-lg-6 mb-4">
            <figure class="mb-3">
                <img src="@Url.Content("~/img/products/" + Model.Id + ".jpg")" alt="@Model.Name" class="img-thumbnail" style="max-width: 300px; height: auto;">
            </figure>
            <div class="bg-light p-3">
                <h2 class="h4">@Model.Name</h2>
                <p class="small">@Model.Description</p>
                <h4 class="h6 text-primary">Prix: @Model.Price $</h4>
            </div>
        </article>

        <!-- Colonne de Droite : Formulaire de Paiement -->
        <aside class="col-lg-6">
            <div class="card shadow-sm p-4">
                <h3 class="h5 mb-3">Formulaire de Paiement</h3>
                <form id="payment-form">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Votre nom" required />
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="exemple@domaine.com" required />
                    </div>

                    <div class="mb-3">
                        <label for="credit-card" class="form-label">Carte de Crédit</label>
                        <div id="credit-card" class="form-control" required></div>
                    </div>

                    <div class="form-check mb-3">
                        <input type="checkbox" class="form-check-input" id="terms" required />
                        <label class="form-check-label" for="terms">J'accepte les <a href="#">termes et conditions</a></label>
                        <div id="card-errors" role="alert" class="text-danger"></div>
                    </div>

                    <button type="submit" class="btn btn-primary" id="submit-button">Acheter maintenant!</button>
                </form>
            </div>
        </aside>
    </div>
</section>

@section scripts {
    <script src="https://js.stripe.com/v3/"></script>
    <script src="~/lib/axios/axios.min.js"></script>
    <script src="~/js/stripe-payment.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            initializeStripePayment("@StripeOptions.Value.PublicKey", @Model.Id);
        });
    </script>
}
